---
import BottomHeader from "../components/BottomHeader.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import Recherche from "../components/Recherche.astro";
import TopHeader from "../components/TopHeader.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/fa.css";
import "../styles/style.css";
---

<Layout>
  <div>
    {/* Top Header */}
    <header role="banner">
      <TopHeader />
      <BottomHeader />
      <Navigation />
    </header>
    <Hero />

    <div class="container_main_auto_cours" id="container_main_auto_cours">
      <div class="container_main">
        <Recherche />

        {/* Chat Interface */}
        <div
          class="touslessites_section recherche_cours_etu"
          id="recherche_cours"
          style={{ backgroundColor: "white" }}
        >
          <p id="name_section">Assistant IA</p>
          <div
            style={{
              border: "2px solid #ff5522",
              borderRadius: "8px",
              padding: "16px",
              margin: "16px",
            }}
          >
            {/* Chat Messages Area */}
            <div
              style={{
                height: "300px",
                overflowY: "auto",
                marginBottom: "16px",
                padding: "12px",
                backgroundColor: "#f4f4f4",
                borderRadius: "4px",
              }}
            >
              {/* Initial message */}
              <div style={{ marginBottom: "12px" }}>
                <div
                  style={{
                    backgroundColor: "#ff5522",
                    color: "white",
                    padding: "8px 12px",
                    borderRadius: "8px",
                    display: "inline-block",
                    maxWidth: "80%",
                  }}
                >
                  Salute! Comment puis-je vous aider aujourd&apos;hui?
                </div>
              </div>

              {/* Student message */}
              <div style={{ marginBottom: "12px", textAlign: "right" }}>
                <div
                  style={{
                    backgroundColor: "#e1e1e1",
                    color: "#333",
                    padding: "8px 12px",
                    borderRadius: "8px",
                    display: "inline-block",
                    maxWidth: "80%",
                    textAlign: "left",
                  }}
                >
                  Peux-tu me faire un récapitulatif de mes cours de design et me
                  dire s&apos;il y a des nouveautés ?
                </div>
              </div>

              {/* Assistant response */}
              <div style={{ marginBottom: "12px" }}>
                <div
                  style={{
                    backgroundColor: "#ff5522",
                    color: "white",
                    padding: "8px 12px",
                    borderRadius: "8px",
                    display: "inline-block",
                    maxWidth: "80%",
                  }}
                >
                  Bien sûr ! Vous avez 9 cours de design actuellement. Je vois
                  plusieurs notifications importantes :
                  <br />
                  <br />
                  - Nouveau document dans le cours UI/UX Design (7 annonces récentes)
                  - Le cours de Photographie Numérique a une nouvelle notification
                  importante - Le cours Design Studio a 9 nouvelles annonces à consulter
                  <br />
                  <br />
                  Le cours de Motion Design contient 20 documents, c&apos;est le
                  plus fourni après le Design 3D qui en compte 22.
                  <br />
                  <br />
                  Souhaitez-vous des détails sur un cours en particulier ?
                </div>
              </div>
            </div>

            {/* Input Area */}
            <div style={{ display: "flex", gap: "8px" }}>
              <input
                type="text"
                placeholder="Posez votre question..."
                style={{
                  flex: 1,
                  padding: "8px 12px",
                  borderRadius: "4px",
                  border: "1px solid #ddd",
                  fontSize: "14px",
                }}
              />
              <button
                style={{
                  backgroundColor: "#ff5522",
                  color: "white",
                  border: "none",
                  padding: "8px 16px",
                  borderRadius: "4px",
                  cursor: "pointer",
                }}
              >
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>

        {/* Original Course Section */}
        <div
          class="touslessites_section recherche_cours_etu"
          id="recherche_cours"
          style={{ backgroundColor: "white" }}
        >
          <p id="name_section">Mon espace étudiant (26 cours)</p>
          <div
            style={{
              display: "flex",
              flexWrap: "wrap",
              justifyContent: "center",
            }}
          >
            <!--  -->

            <div
              class="touslescours_appli"
              style="background-color: #fff; border:2px solid #ff5522; color:#ff5522;"
              id="CULTM2"
            >
              <div class="top_case_cours">
                <div
                  style="float: none;/*position: relative;*/ margin-top: -50px;"
                >
                </div>
              </div>

              <div class="middle_case_cours">
                <div class="overens"></div>

                <div class="overens">
                  <div class="show-enseignants">
                    <div class="ensTopMenu">
                      <h5 class="titreh5">Enseignant(s)</h5>
                    </div>
                    <hr style="background-color: #e4eaec; margin: 5px 0px;" />
                    <span class="liste-ens"
                      >Pas d'enseignant pour ce cours.</span
                    >
                  </div>
                  <i
                    class="fal fa-users"
                    style="font-size: 20px; margin-left: 10px; padding-top:3px; color: #333;"
                  ></i>
                </div>
              </div>
              <hr style="background-color: #ff5522;" />
              <a
                href="https://cours.universita.corsica/mon_cours.php?id_cours=CULTM2"
                style="text-decoration: none; color: #000;"
              >
                <span title="CCU-MASTER-SEMESTRE-2" class="titre_cours"
                  >CCU-SEMESTRE-2</span
                >
                <span title="CULTM2" class="sous_titre_cours">(CULTM2)</span>
              </a>

              <div class="infos_cours colonne">
                <a
                  style="color: #000;"
                  href="https://cours.universita.corsica/outils/podcasts/index.php?id_cours=CULTM2"
                >
                  <i
                    title="Podcasts"
                    class="fal fa-podcast fa-lg"
                    style="font-size: 12px;"></i> Podcasts : 1</a
                ><br />
              </div>

              <p style="text-align:center">
                <a
                  href="https://cours.universita.corsica/mon_cours.php?id_cours=CULTM2"
                  onmouseover="this.style.backgroundColor='#ff5522';this.style.color='#FFF';"
                  onmouseout="this.style.backgroundColor='white'; this.style.color='#ff5522'; this.style.border =  '2px solid #ff5522';"
                  style="float: none; margin-top: 0px; color:#ff5522; border: 2px solid #ff5522;"
                  class="bouton_cours">Entrer</a
                >
              </p>
            </div>

            <div
              class="touslescours_appli"
              style="background-color: #fff; border:2px solid #40c8f4; color:#40c8f4;"
              id="M1ST2CO"
            >
              <div class="top_case_cours">
                <div
                  style="float: none;/*position: relative;*/ margin-top: -50px;"
                >
                </div>
              </div>

              <div class="middle_case_cours">
                <div class="overens"></div>

                <div class="badge_notifs">
                  <span class="badge">44</span><div class="show_notifs">
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5726219"
                      id_item="718257"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5725802"
                      id_item="718254"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5726080"
                      id_item="718256"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5725941"
                      id_item="718255"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5724968"
                      id_item="718248"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5725246"
                      id_item="718250"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5725524"
                      id_item="718252"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5724829"
                      id_item="718247"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5725107"
                      id_item="718249"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5725385"
                      id_item="718251"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5725663"
                      id_item="718253"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 2 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5712906"
                      id_item="717921"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5711847"
                      id_item="717897"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5710285"
                      id_item="717887"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">PAULE MICAELLI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5710146"
                      id_item="717886"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">PAULE MICAELLI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5710007"
                      id_item="717885"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">PAULE MICAELLI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5709868"
                      id_item="717884"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">PAULE MICAELLI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5709285"
                      id_item="717871"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%"
                        >JACQUELINE ACQUAVIVA-BOSSEUR</span
                      >
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5709146"
                      id_item="717870"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%"
                        >JACQUELINE ACQUAVIVA-BOSSEUR</span
                      >
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5709007"
                      id_item="717869"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%"
                        >JACQUELINE ACQUAVIVA-BOSSEUR</span
                      >
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5708868"
                      id_item="717868"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%"
                        >JACQUELINE ACQUAVIVA-BOSSEUR</span
                      >
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5706901"
                      id_item="717825"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 5 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5686024"
                      id_item="717375"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5685607"
                      id_item="717372"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5685885"
                      id_item="717374"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5685468"
                      id_item="717371"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5685746"
                      id_item="717373"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5684773"
                      id_item="717366"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5685051"
                      id_item="717368"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5685329"
                      id_item="717370"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5684912"
                      id_item="717367"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5685190"
                      id_item="717369"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5684495"
                      id_item="717364"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5684356"
                      id_item="717363"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5684634"
                      id_item="717365"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5684217"
                      id_item="717362"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5683522"
                      id_item="717357"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5683800"
                      id_item="717359"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5684078"
                      id_item="717361"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5683661"
                      id_item="717358"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5683939"
                      id_item="717360"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5683244"
                      id_item="717355"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5683383"
                      id_item="717356"
                      id_cours="M1ST2CO"
                      id_outil="documents"
                      liennotification="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%">FREDERIC POGGI</span>
                      <span style="font-size:80%; color:#777"
                        >Il y a 8 jour(s)</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-file"></i> Un nouveau document est disponible
                        !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                    <a
                      style="padding:5px"
                      id="notificationAffiche"
                      id_notif="5509745"
                      id_item="41421"
                      id_cours="M1ST2CO"
                      id_outil="annonces"
                      liennotification="https://cours.universita.corsica/?id_cours=M1ST2CO"
                    >
                      <span style="font-size:90%"
                        >JACQUELINE ACQUAVIVA-BOSSEUR</span
                      >
                      <span style="font-size:80%; color:#777"
                        >il y a 1 mois</span
                      ><span class="badgeLu">Non lu</span><br />
                      <span style="font-size:90%;"
                        ><i class="fal fa-megaphone"></i> Une nouvelle annonce est
                        disponible !</span
                      >
                    </a>
                    <hr
                      class="ligne_notif"
                      style="background-color: #e4eaec; margin: 5px 0px;"
                    />
                  </div>
                </div>
                <div class="overens">
                  <div class="show-enseignants">
                    <div class="ensTopMenu">
                      <h5 class="titreh5">Enseignant(s)</h5>
                    </div>
                    <hr style="background-color: #e4eaec; margin: 5px 0px;" />
                    <span class="liste-ens"
                      ><span id="liste_ens">ACQUAVIVA BOSSEUR JACQUELINE</span
                      ><span id="liste_ens">MICAELLI PAULE</span><span
                        id="liste_ens">POGGI FREDERIC</span
                      ><span id="liste_ens">LECA GHJUVAN-MARCU</span><span
                        id="liste_ens">TOMASI ANNA-MARIA</span
                      ><span id="liste_ens">DI MEGLIO MATTEU</span></span
                    >
                  </div>
                  <i
                    class="fal fa-users"
                    style="font-size: 20px; margin-left: 10px; padding-top:3px; color: #333;"
                  ></i>
                </div>
              </div>
              <hr style="background-color: #40c8f4;" />
              <a
                href="https://cours.universita.corsica/mon_cours.php?id_cours=M1ST2CO"
                style="text-decoration: none; color: #000;"
              >
                <span title="M1ST2CO-CORSE" class="titre_cours"
                  >MST2CO-CORSE</span
                >
                <span title="M1ST2CO" class="sous_titre_cours">(M1ST2CO)</span>
              </a>

              <div class="infos_cours colonne">
                <a
                  style="color: #000;"
                  href="https://cours.universita.corsica/outils/documents/index.php?id_cours=M1ST2CO"
                >
                  <i
                    title="Documents"
                    class="fal fa-file fa-lg"
                    style="font-size: 12px;"></i> Documents : 61</a
                ><br /><a
                  style="color: #000;"
                  href="https://cours.universita.corsica/outils/podcasts/index.php?id_cours=M1ST2CO"
                >
                  <i
                    title="Podcasts"
                    class="fal fa-podcast fa-lg"
                    style="font-size: 12px;"></i> Podcasts : 1</a
                ><br /><a
                  style="color: #000;"
                  href="https://cours.universita.corsica/mon_cours.php?id_cours=M1ST2CO"
                >
                  <i
                    title="Annonces"
                    class="fal fa-megaphone fa-lg"
                    style="font-size: 12px;"></i> Annonces : 9</a
                ><br />
              </div>

              <p style="text-align:center">
                <a
                  href="https://cours.universita.corsica/mon_cours.php?id_cours=M1ST2CO"
                  onmouseover="this.style.backgroundColor='#40c8f4';this.style.color='#FFF';"
                  onmouseout="this.style.backgroundColor='white'; this.style.color='#40c8f4'; this.style.border =  '2px solid #40c8f4';"
                  style="float: none; margin-top: 0px; color:#40c8f4; border: 2px solid #40c8f4;"
                  class="bouton_cours">Entrer</a
                >
              </p>
            </div>

            <div
              class="touslescours_appli"
              style="background-color: #fff; border:2px solid #ff5522; color:#ff5522;"
              id="SUAPSM2"
            >
              <div class="top_case_cours">
                <div
                  style="float: none;/*position: relative;*/ margin-top: -50px;"
                >
                </div>
              </div>

              <div class="middle_case_cours">
                <div class="overens"></div>

                <div class="overens">
                  <div class="show-enseignants">
                    <div class="ensTopMenu">
                      <h5 class="titreh5">Enseignant(s)</h5>
                    </div>
                    <hr style="background-color: #e4eaec; margin: 5px 0px;" />
                    <span class="liste-ens"
                      >Pas d'enseignant pour ce cours.</span
                    >
                  </div>
                  <i
                    class="fal fa-users"
                    style="font-size: 20px; margin-left: 10px; padding-top:3px; color: #333;"
                  ></i>
                </div>
              </div>
              <hr style="background-color: #ff5522;" />
              <a
                href="https://cours.universita.corsica/mon_cours.php?id_cours=SUAPSM2"
                style="text-decoration: none; color: #000;"
              >
                <span title="SUAPS-MASTER-SEMESTRE-2" class="titre_cours"
                  >SUAPS-SEMESTRE-2</span
                >
                <span title="SUAPSM2" class="sous_titre_cours">(SUAPSM2)</span>
              </a>

              <div class="infos_cours colonne">
                <a
                  style="color: #000;"
                  href="https://cours.universita.corsica/outils/podcasts/index.php?id_cours=SUAPSM2"
                >
                  <i
                    title="Podcasts"
                    class="fal fa-podcast fa-lg"
                    style="font-size: 12px;"></i> Podcasts : 1</a
                ><br />
              </div>

              <p style="text-align:center">
                <a
                  href="https://cours.universita.corsica/mon_cours.php?id_cours=SUAPSM2"
                  onmouseover="this.style.backgroundColor='#ff5522';this.style.color='#FFF';"
                  onmouseout="this.style.backgroundColor='white'; this.style.color='#ff5522'; this.style.border =  '2px solid #ff5522';"
                  style="float: none; margin-top: 0px; color:#ff5522; border: 2px solid #ff5522;"
                  class="bouton_cours">Entrer</a
                >
              </p>
            </div>

            <div
              class="touslescours_appli"
              style="background-color: #fff; border:2px solid #ff5522; color:#ff5522;"
              id="SUAPSM2"
            >
              <div class="top_case_cours">
                <div
                  style="float: none;/*position: relative;*/ margin-top: -50px;"
                >
                </div>
              </div>

              <div class="middle_case_cours">
                <div class="overens"></div>

                <div class="overens">
                  <div class="show-enseignants">
                    <div class="ensTopMenu">
                      <h5 class="titreh5">Enseignant(s)</h5>
                    </div>
                    <hr style="background-color: #e4eaec; margin: 5px 0px;" />
                    <span class="liste-ens"
                      >Pas d'enseignant pour ce cours.</span
                    >
                  </div>
                  <i
                    class="fal fa-users"
                    style="font-size: 20px; margin-left: 10px; padding-top:3px; color: #333;"
                  ></i>
                </div>
              </div>
              <hr style="background-color: #ff5522;" />
              <a
                href="https://cours.universita.corsica/mon_cours.php?id_cours=SUAPSM2"
                style="text-decoration: none; color: #000;"
              >
                <span title="SUAPS-MASTER-SEMESTRE-2" class="titre_cours"
                  >CUISINE-TRADITIONNELLE</span
                >
                <span title="SUAPSM2" class="sous_titre_cours">(SUAPSM2)</span>
              </a>

              <div class="infos_cours colonne">
                <a
                  style="color: #000;"
                  href="https://cours.universita.corsica/outils/podcasts/index.php?id_cours=SUAPSM2"
                >
                  <i
                    title="Podcasts"
                    class="fal fa-podcast fa-lg"
                    style="font-size: 12px;"></i> Podcasts : 1</a
                ><br />
              </div>

              <p style="text-align:center">
                <a
                  href="https://cours.universita.corsica/mon_cours.php?id_cours=SUAPSM2"
                  onmouseover="this.style.backgroundColor='#ff5522';this.style.color='#FFF';"
                  onmouseout="this.style.backgroundColor='white'; this.style.color='#ff5522'; this.style.border =  '2px solid #ff5522';"
                  style="float: none; margin-top: 0px; color:#ff5522; border: 2px solid #ff5522;"
                  class="bouton_cours">Entrer</a
                >
              </p>
            </div>

            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
