---
import BottomHeader from "../components/BottomHeader.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import Recherche from "../components/Recherche.astro";
import TopHeader from "../components/TopHeader.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/fa.css";
import "../styles/style.css";
---

<Layout>
  <div>
    {/* Top Header */}
    <header role="banner">
      <TopHeader />
      <BottomHeader />
      <Navigation />
    </header>
    <Hero />

    <div class="container_main_auto_cours" id="container_main_auto_cours">
      <div class="container_main">
        <Recherche />

        {/* Chat Interface */}
        <div
          class="touslessites_section recherche_cours_etu"
          id="recherche_cours"
          style={{ backgroundColor: "white" }}
        >
          <p id="name_section">Assistant IA</p>
          <div
            style={{
              border: "2px solid #ff5522",
              borderRadius: "8px",
              padding: "16px",
              margin: "16px",
            }}
          >
            {/* Chat Messages Area */}
            <div
              style={{
                height: "300px",
                overflowY: "auto",
                marginBottom: "16px",
                padding: "12px",
                backgroundColor: "#f4f4f4",
                borderRadius: "4px",
              }}
            >
              {/* Initial message */}
              <div style={{ marginBottom: "12px" }}>
                <div
                  style={{
                    backgroundColor: "#ff5522",
                    color: "white",
                    padding: "8px 12px",
                    borderRadius: "8px",
                    display: "inline-block",
                    maxWidth: "80%",
                  }}
                >
                  Salute! Comment puis-je vous aider aujourd&apos;hui?
                </div>
              </div>

              {/* Student message */}
              <div style={{ marginBottom: "12px", textAlign: "right" }}>
                <div
                  style={{
                    backgroundColor: "#e1e1e1",
                    color: "#333",
                    padding: "8px 12px",
                    borderRadius: "8px",
                    display: "inline-block",
                    maxWidth: "80%",
                    textAlign: "left",
                  }}
                >
                  Peux-tu me faire un récapitulatif de mes cours de design et me
                  dire s&apos;il y a des nouveautés ?
                </div>
              </div>

              {/* Assistant response */}
              <div style={{ marginBottom: "12px" }}>
                <div
                  style={{
                    backgroundColor: "#ff5522",
                    color: "white",
                    padding: "8px 12px",
                    borderRadius: "8px",
                    display: "inline-block",
                    maxWidth: "80%",
                  }}
                >
                  Bien sûr ! Vous avez 9 cours de design actuellement. Je vois
                  plusieurs notifications importantes :
                  <br />
                  <br />
                  - Nouveau document dans le cours UI/UX Design (7 annonces récentes)
                  - Le cours de Photographie Numérique a une nouvelle notification
                  importante - Le cours Design Studio a 9 nouvelles annonces à consulter
                  <br />
                  <br />
                  Le cours de Motion Design contient 20 documents, c&apos;est le
                  plus fourni après le Design 3D qui en compte 22.
                  <br />
                  <br />
                  Souhaitez-vous des détails sur un cours en particulier ?
                </div>
              </div>
            </div>

            {/* Input Area */}
            <div style={{ display: "flex", gap: "8px" }}>
              <input
                type="text"
                placeholder="Posez votre question..."
                style={{
                  flex: 1,
                  padding: "8px 12px",
                  borderRadius: "4px",
                  border: "1px solid #ddd",
                  fontSize: "14px",
                }}
              />
              <button
                style={{
                  backgroundColor: "#ff5522",
                  color: "white",
                  border: "none",
                  padding: "8px 16px",
                  borderRadius: "4px",
                  cursor: "pointer",
                }}
              >
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>

        {/* Original Course Section */}
        <div
          class="touslessites_section recherche_cours_etu"
          id="recherche_cours"
          style={{ backgroundColor: "white" }}
        >
          <p id="name_section">Mon espace étudiant (26 cours)</p>
          <div
            style={{
              display: "flex",
              flexWrap: "wrap",
              justifyContent: "center",
            }}
          >
            <!-- {COURSES_DATA.map((course) => <CourseCard course={course} />)} -->
            <div
              class="touslescours_appli_detail"
              style="background-color: #fff; border:2px solid #ff5522; color:#ff5522; width:100%;"
              id="CUISINE-TRADITIONELLE"
            >
              <div class="top_case_cours_detail">
                <div></div>
                <a
                  href="https://cours.universita.corsica/mon_cours.php?id_cours=CUISINE-TRADITIONELLE"
                  style="text-decoration: none; color: #000;"
                >
                  <span title="CUISINE TRADITIONELLE" class="titre_cours_detail"
                    >CUISINE TRADITIONELLE (CUISINE-TRADITIONELLE)</span
                  >
                </a><br />
                <div class="overens">
                  <div class="show-enseignants">
                    <div class="ensTopMenu">
                      <h5 class="titreh5">Enseignant(s)</h5>
                    </div>
                    <hr style="background-color: #e4eaec; margin: 5px 0px;" />
                    <span class="liste-ens"
                      ><span id="liste_ens"></span><span id="liste_ens"
                        >BENEDETTI DAVIA</span
                      ><span id="liste_ens"></span><span id="liste_ens"
                      ></span><span id="liste_ens">Castela Jean</span><span
                        id="liste_ens"></span><span id="liste_ens"
                        >LIMELETTE ANTHONY</span
                      ><span id="liste_ens">FILIPPI PETRU-ANTO</span><span
                        id="liste_ens">MATTEI CORINNE</span
                      ><span id="liste_ens"></span><span id="liste_ens"
                        >GUERRINI FLAVIE</span
                      ><span id="liste_ens"></span><span id="liste_ens"
                      ></span><span id="liste_ens">LE-GALLOU AURELIEN</span
                      ><span id="liste_ens">FOLLIOT LOIK</span><span
                        id="liste_ens">DEGIOVANNI ANGELIQUE</span
                      ><span id="liste_ens"></span><span id="liste_ens"
                        >GENSOLLEN SYLVIA</span
                      ><span id="liste_ens">PALDACCI CLAUDINE</span><span
                        id="liste_ens">RIST DELPHINE</span
                      ><span id="liste_ens">BERNARD NATACHA</span><span
                        id="liste_ens"></span><span id="liste_ens"
                        >FILIPPI PETRU-ANTONE</span
                      ><span id="liste_ens"></span><span id="liste_ens"
                        >RINIERI THOMAS</span
                      ><span id="liste_ens">MARIANI BAPTISTE</span><span
                        id="liste_ens">KENSEY MAE-LYS</span
                      ><span id="liste_ens"></span><span id="liste_ens"
                        >FERRARI-OTTAVY JULIETTE</span
                      ></span
                    >
                  </div>
                  <i
                    class="fal fa-users"
                    style="font-size: 20px; margin-left: 10px; padding-top:3px; color: #333;"
                  ></i>
                </div>
              </div>

              <hr style="background-color: #ff5522;" />

              <p style="text-align:center">
                <a
                  href="https://cours.universita.corsica/mon_cours.php?id_cours=CUISINE-TRADITIONELLE"
                  onmouseover="this.style.backgroundColor='#ff5522';this.style.color='#FFF';"
                  onmouseout="this.style.backgroundColor='white'; this.style.color='#ff5522'; this.style.border =  '2px solid #ff5522';"
                  style="float: none; margin-top: 0px; color:#ff5522; border: 2px solid #ff5522;"
                  class="bouton_cours">Entrer</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
