---
import TopHeader from "../components/login/TopHeader.astro";
import Header from "../components/login/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/fa.css";
import "../styles/style.css";
---

<Layout>
  <div>
    <header role="banner" class="tw-relative">
      <TopHeader />
      <Header />
    </header>

    <main id="main-content" class="container-lg py-4">
      <div class="tw:w-full tw:max-w-3xl tw:mt-72">
        <div class="tw:bg-white tw:rounded tw:shadow-md tw:p-6 tw:mb-4">
          <p class="tw:text-orange-600 tw:font-medium tw:mb-4">
            > Vous êtes étudiant, personnel, vacataire ou ALUMNI de l'Università
            di Corsica
          </p>

          <div class="tw:mb-4">
            <div
              class="tw:border tw:border-orange-500 tw:rounded tw:p-3 tw:mb-3"
            >
              <label for="username" class="tw:text-orange-500"
                >Identifiant :*</label
              >
              <input
                type="text"
                id="username"
                class="tw:w-full tw:outline-none"
              />
            </div>

            <div
              class="tw:border tw:border-orange-500 tw:rounded tw:p-3 tw:mb-3 tw:flex tw:items-center"
            >
              <label for="password" class="tw:text-gray-500"
                >Mot de passe :*</label
              >
              <input
                type="password"
                id="password"
                class="tw:w-full tw:outline-none"
              />
              <button
                class="tw:border tw:border-orange-500 tw:p-1 tw:text-orange-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="tw:w-5 tw:h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                  ></path>
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                </svg>
              </button>
            </div>

            <button
              class="tw:bg-white tw:text-orange-500 tw:border tw:border-orange-500 tw:px-4 tw:py-2 tw:uppercase tw:font-medium"
              >Se connecter</button
            >
          </div>

          <div class="tw:mt-6">
            <p class="tw:mb-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="tw:w-4 tw:h-4 tw:inline"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                  clip-rule="evenodd"></path>
              </svg>
              <a href="#" class="tw:text-blue-700 tw:hover:underline"
                >Mot de passe oublié ?</a
              >
              <a href="#" class="tw:text-blue-700 tw:hover:underline tw:ml-2"
                >Besoin d'aide ?</a
              >
            </p>

            <p class="tw:text-sm">
              Pour des raisons de sécurité, veuillez vous
              <a href="#" class="tw:text-blue-700 tw:hover:underline"
                >déconnecter</a
              >
              et fermer votre navigateur lorsque vous avez fini d'accéder aux services
              authentifiés.
            </p>
          </div>
        </div>

        <div class="tw:bg-white tw:rounded tw:shadow-md tw:p-6 tw:mb-4">
          <div class="tw:flex tw:items-center">
            <p class="tw:text-orange-600 tw:font-medium tw:mr-2">
              > Vous êtes nouvel arrivant à l'Università di Corsica, pour
              activer votre compte
            </p>
            <button
              class="tw:bg-white tw:text-orange-500 tw:border tw:border-orange-500 tw:px-3 tw:py-1 tw:text-sm"
              >CLIQUEZ ICI</button
            >
          </div>
        </div>

        <div class="tw:bg-white tw:rounded tw:shadow-md tw:p-6">
          <div class="tw:flex tw:items-center">
            <p class="tw:text-orange-600 tw:font-medium tw:mr-2">
              > Vous êtes extérieur, pour vous connecter
            </p>
            <button
              class="tw:bg-white tw:text-orange-500 tw:border tw:border-orange-500 tw:px-3 tw:py-1 tw:text-sm"
              >CLIQUEZ ICI</button
            >
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
