<div
  id="imghome"
  style="background-color:#ff5522; background-image: url(/images/imghomecoursenligne.png);"
>
  <div class="container">
    <div class="flex_caption">
      <span class="flex_caption_title"
        >Salute <span id="name_placeholder"></span>
      </span><span class="flex_caption_subtitle"
        >Bienvenue sur la plateforme de cours en ligne<br /> de l'Università di Corsica</span
      >
    </div>
  </div>
</div>
