<div class="navigation">
  <nav class="container">
    <input type="checkbox" id="input_menu_toggle" />
    <label for="input_menu_toggle" class="btn_menu_smart show_md"
      ><i class="fa fa-bars"></i><span class="visually-hidden">Menu</span
      ></label
    >
    <ul class="niv1">
      <li>
        <a
          href="https://portail.universita.corsica/index.php"
          class="menugeneral_item"
          ><div
            style="background-color: #9a9a9a;color:#ffffff;padding-left:7px;padding-right:7px;padding-top:4px;"
          >
            <i class="fal fa-cubes fa-1x" title="Tous mes outils"></i> Mes outils
          </div></a
        >
      </li>

      <li>
        <a
          href="https://cours.universita.corsica/index.php"
          class="menugeneral_item"
          ><div
            style="background-color: #000000;color:#ffffff;padding-left:7px;padding-right:7px;padding-top:4px;"
          >
            <i class="fal fa-desktop fa-1x" title="Tous mes cours"></i> Mes cours
            en ligne
          </div></a
        >
      </li>
      <li>
        <a
          href="https://cours.universita.corsica/catalogue.php"
          class="menugeneral_item"
          ><div
            style="background-color: #000000;color:#ffffff;padding-left:7px;padding-right:7px;padding-top:4px;"
          >
            <i class="fa fa-th fa-1x" title="Le catalogue"></i> Le catalogue des
            cours
          </div></a
        >
      </li>

      <li>
        <a
          href="https://podcast.universita.corsica/index.php"
          class="menugeneral_item"
          ><div
            style="background-color: #9a9a9a;color:#ffffff;padding-left:7px;padding-right:7px;padding-top:4px;"
          >
            <i class="fa fa-podcast fa-1x" title="Tous mes podcasts"></i> Podcasts
          </div></a
        >
      </li>

      <li>
        <a
          href="https://guide-enseignant.universita.corsica/"
          class="menugeneral_item"
          target="_blank"
          ><i class="fa fa-circle-info fa-1x" title="Aide"></i> Aide</a
        >
      </li>

      <li>
        <a
          href="https://cours.universita.corsica/include/catalogue/supprimer_rattachement.php"
          class="menugeneral_item"
          ><i
            class="fal fa-minus-square fa-1x"
            title="Supprimer un cours"
            style="color:FF5522"></i>&nbsp;Se détacher de cours</a
        >
      </li>
    </ul>
  </nav>
</div>
