<div
  id="accordion_search_bar_container"
  style="text-align:center;background-color:#fff;padding:20px"
>
  <form
    action="https://cours.universita.corsica/recherche.php"
    method="post"
    id="form"
  >
    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"
    ></span><input
      type="text"
      placeholder="Rechercher un cours dans ma liste"
      value=""
      name="keyword"
      class="accordion_search_bar_container"
      id="tags"
      size="50"
      style="text-align:center;margin:0px;padding:10px;font-size:1.5em;background-color:#f4f4f4;"
      class="ui-autocomplete-input"
      autocomplete="off"
    />

    <button type="submit" style="border:0px;background-color: #ffffff">
      <i class="fa fa-search fa-2x" style="color:#FF5522"></i>
    </button>
  </form>
</div>
