<div class="bottom_header">
  <div class="container">
    <a href="https://portail.universita.corsica/" class="logo"
      ><img
        src="https://portail.universita.corsica/template/template_back_office/images/logo.png"
        alt="logo"
      /></a
    >
    <div class="baseline tw:!text-6xl tw:!font-normal">
      Authentification | <span>Campus numérique</span>
    </div>
  </div>
</div>
