<div class="top_header">
  <div class="container">
    <div class="pull-left">
      <div class="menu_top_header">
        <span
          ><a href="https://www.universita.corsica" class="hidden_md"
            >Università di corsica</a
          ><span class="hidden_md"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          ><label for="nosportails_menu" class="nosportails"
            >Nos Portails &nbsp;&nbsp;:</label
          ></span
        >
        <input type="checkbox" id="nosportails_menu" /><ul
          class="animated slideInDown"
        >
          <li><a href="https://studia.universita.corsica">Étudiants</a></li>
          <li><a href="https://portail.universita.corsica">Personnels</a></li>
          <li><a href="https://ricerca.universita.corsica">Recherche</a></li>
          <li><a href="https://pro.universita.corsica">Partenaires pro</a></li>
          <li><a href="https://fundazione.universita.corsica">Fondation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
